* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.skin {
  border: 1px solid red;
  position: relative;
}
.nose {
  border: 10px solid black;
  left: 50%;
  top: 200px;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
  position: absolute;
}
